
{% extends 'base.html' %}
{% load static %}

{% block body %}

<section id="favorites" class="favorites">

<link rel="stylesheet" href="{% static 'favourite.css' %}">

<h2 class="section-title">My Favorite Books</h2>

<div class="favorites-grid">

{% for book in favourite_books %}

<div class="favorite-card">
    <i class="fas fa-crown favorite-icon"></i>

    <img src="{{ book.image }}" alt="">

    <h3>{{ book.title }}</h3>
    <p>{{ book.author }}</p>
    <p>{{ book.about }}</p>
    <p>{{ book.opnion }}</p>

</div>

{% endfor %}

</div>
</section>

{% endblock body %}